.cart {
  display: flex;
  align-items: center;
  gap: 44px;
  position: relative;

  &-avatar {
    width: 50px;
    height: 50px;
  }

  &-icon {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: all 5s;
    cursor: pointer;

    &::after {
      visibility: visible;
      opacity: 1;
      position: absolute;
      content: attr(data-amount);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      right: -7px;
      top: -7px;
      align-self: center;
      background-color: var(--color-very-dark-blue);
      color: var(--color-white);
      font-weight: bold;
      transition: all 0.5s;
    }

    &[data-amount="0"]::after {
      opacity: 0;
    }
  }

  &__hidden {
    &--info {
      visibility: hidden;
      opacity: 0;
      transition: width 0.3s;
      position: absolute;
      top: 100%;
      right: 50%;
      width: 1000px;
    }
  }
  h3 {
    font-size: 16px;
    align-self: flex-start;
    width: 100%;
    padding: 8px 24px;
    border-bottom: 1px solid var(--color-black-line);
    height: 50px;
  }

  &__info {
    position: absolute;
    top: 81px;
    left: calc(100% - 283px);
    width: 359px;
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    box-shadow: 1px 1px 15px 2px var(--color-primary-orange-opacity);
    gap: 6px;
    visibility: visible;
    opacity: 1;
    background-color: var(--color-white);
    transition: all 0.5s;

    &-empty {
      font-size: 16px;
      font-weight: bold;
      height: 175px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.1px;
      border-radius: 12px;
    }

    &-content {
      padding: 16px 24px;
      align-self: flex-start;
      width: 100%;
    }

    &-product {
      gap: 15px;
      flex: 1;
      width: 100%;
      display: flex;

      &-img {
        width: 50px;
        height: 55px;
        object-fit: contain;
        border-radius: 10px;
      }

      p {
        font-size: 17px;
        letter-spacing: -0.05px;
        line-height: 30px;
        color: var(--color-very-dark-blue);
        font-weight: normal;
      }
    }

    &-price {
      font-size: 16px;
      color: var(--color-very-dark-blue);
      font-weight: bold;
      display: flex;
      text-align: left;
      flex: 1;
      width: 100%;
      flex-direction: column;

      div {
        display: inline-flex;
        align-items: center;
        margin-bottom: 20px;

        p {
          font-weight: bold;
          line-height: 27px;
          letter-spacing: 0.5px;
        }
      }
      span {
        margin-right: 5px;
        font-size: 13px;
        color: var(--color-grayish-blue);
      }

      button {
        cursor: pointer;
        margin-left: auto;
        justify-self: flex-end;
        &:hover {
          box-shadow: 1px 1px 15px 2px var(--color-primary-orange-opacity);
        }
      }
    }
  }

  @media screen and (max-width: 1239px) {
    &__info {
      width: 300px;
      left: calc(-100% - 150px);
    }
  }



  @media screen and (max-width: 992px) {
    order: 2;
  }

  @media screen and (max-width: 568px) {
    gap: 5px;
    width: 150px;
    justify-content: right;

    &__info {
      width: 280px;
      left: calc(-100% - 70px);
    }
  }
}
